 .spacer {
    flex: 1 1 auto;
  }

  #activities {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #activities td, #activities th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #activities tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #activities tr:hover {
    background-color: #ddd;
  }
  
  #activities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
